mixin directions()
  -
    const directionsList = [
      {
        title: "Дизайн",
        items: ["3D анимация", "3D MAX", "3D моделирование", "Adobe After Effects", "Adobe Illustrator", "Adobe Photoshop", "Отрисовка иллюстраций"]
      },
      {
        title: "Программирование",
        items: ["Web-разработка", "DevOps", "JavaScript-разработка", "ReactJS", "Мобильная разработка", "GIT", "Системное администрирование", "Верстка на HTML/CSS", "Unity"]
      },
      {
        title: "Аналитика",
        items: ["Data Science", "Продуктовая аналитика", "Системная аналитика", "Бизнес-аналитика", "Аналитика на R", "Работа с Excel и Google таблицами", "Машинное обучение", "Нейронные сети"]
      },
      {
        title: "Менеджмент",
        items: ["Product-менеджмент", "Личностный рост", "Управление разработкой и IT", "AGILE", "Бренд-менеджмент", "Запуск стартапов", "Финансовая аналитика", "Бухгалтерия", "Управление в SMM", "IT-рекрутмент"]
      },
      {
        title: "Маркетинг",
        items: ["Web-аналитика", "SMM-продвижение", "Интернет-маркетинг", "PR-менеджмент", "SEO-продвижение", "Копирайтинг", "Контент-маркетинг", "SERM и репутация", "Маркетинговая аналитика", "Google Ads"]
      },
      {
        title: "Финансы",
        items: ["Web-аналитика", "SMM-продвижение", "Интернет-маркетинг", "PR-менеджмент", "SEO-продвижение", "Копирайтинг", "Контент-маркетинг", "SERM и репутация", "Маркетинговая аналитика", "Google Ads"]
      },
      ]

  section.directions
    .container.directions__main-wrapper
      h2.directions__title= "Выбери направление"
      .directions__swiper
        .directions__swiper-wrapper
          each direction in directionsList
            .directions__slide
              a.directions__link(href="#")
                span.visually-hidden= `Подробнее о направлении "${direction.title}"`
                +direction-card(direction.title, direction.items)
