mixin directions()
  -
    const directionsList = [
      {
        title: "Дизайн",
        id: "design",
        items: ["Web-дизайн", "Дизайн интерьеров", "3D моделирование", "Motion-дизайн", "Графический дизайн", "3D-анимация", "UX/UI-дизайн", "ArchiCAD", "Геймдизайн", "Adobe After Effects"]
      },
      {
        title: "Программирование",
        id: "programming",
        items: ["Web-разработка", "DevOps", "JavaScript-разработка", "ReactJS", "Мобильная разработка", "GIT", "Системное администрирование", "Верстка на HTML/CSS", "Unity"]
      },
      {
        title: "Менеджмент",
        id: "management",
        items: ["Product-менеджмент", "Личностный рост", "Управление разработкой и IT", "AGILE", "Бренд-менеджмент", "Запуск стартапов", "Финансовая аналитика", "Бухгалтерия", "Управление в SMM", "IT-рекрутмент"]
      },
      {
        title: "Аналитика",
        id: "analytics",
        items: ["Data Science", "Продуктовая аналитика", "Системная аналитика", "Бизнес-аналитика", "Аналитика на R", "Работа с Excel и Google таблицами", "Машинное обучение", "Нейронные сети"]
      },
      {
        title: "Маркетинг",
        id: "marketing",
        items: ["Web-аналитика", "SMM-продвижение", "Интернет-маркетинг", "PR-менеджмент", "SEO-продвижение", "Копирайтинг", "Контент-маркетинг", "SERM и репутация", "Маркетинговая аналитика", "Google Ads"]
      },
      {
        title: "Финансы",
        id: "finance",
        items: ["Web-аналитика", "SMM-продвижение", "Интернет-маркетинг", "PR-менеджмент", "SEO-продвижение", "Копирайтинг", "Контент-маркетинг", "SERM и репутация", "Маркетинговая аналитика", "Google Ads"]
      },
      ]

  section.directions
    .container
      h2.directions__title= "Выбери направление"
      .directions__swiper
        .directions__swiper-wrapper
          each direction in directionsList
            .directions__card
              a.directions__link(href="#")
                span.visually-hidden= `Подробнее о направлении "${direction.title}"`
                +direction-card(direction.title, direction.id, direction.items)
