mixin hero()

  -
    const workCard =
      {
        title: "UX/UI-designer",
        description: "UX/UI-дизайнер — одна из самых востребованных профессий 2020 года",
        salary: "120 000",
        offersCount: "1 561",
        rate: 5,
        platforms: [
          { name: "skillbox", rate: "57%" },
          { name: "skillfactory", rate: "70%" },
          { name: "geekbrains", rate: "42%" },
          { name: "netology", rate: "76%" },
          { name: "skypro", rate: "45%" }
        ]
      }

  section.hero
    .container.hero__main-wrapper
      .hero__text-wrapper
        h1
          |FindEdu - все для
          br
          |выбора новой профессии
          br
          |в одном месте
        p Изучение тем на вебинарах с преподавателями, личные консультации с наставником. После прохождения курса с наставником. После прохождения курса
        a.hero__button(href="#").btn= "Сравнить курсы"
      .hero__image-wrapper
        +picture("content/hero", "excited-man", "png", 502, 590, "Радующийся мужчина в оранжевом свитере")
      .hero__work-card
        +work-card(workCard)


