mixin hero()

  -
    const workCard =
      {
        title: "UX/UI-designer",
        description: "UX/UI-дизайнер — одна из самых востребованных профессий 2020 года",
        salary: "120 000",
        offersCount: "1 561",
        rate: 5,
        platforms: [
          { name: "skillbox", rate: "57%", color: "#dfe1ff", accentColor: "#323be1" },
          { name: "skillfactory", rate: "70%", color: "rgba(130, 217, 124, 0.3)", accentColor: "#5caf56"},
          { name: "geekbrains", rate: "42%", color: "#e7e7e7", accentColor: "#222222" },
          { name: "netology", rate: "76%", color: "#ffcfe0", accentColor: "#eb236b" },
          { name: "skypro", rate: "45%", color: "#cdedff", accentColor: "#54bff9" }
        ]
      }

  section.hero
    .container.hero__main-wrapper
      .hero__text-wrapper
        h1
          |FindEdu - все для
          br
          |выбора новой профессии
          br
          |в одном месте
        p Изучение тем на вебинарах с преподавателями, личные консультации с наставником. После прохождения курса с наставником. После прохождения курса
        a.hero__button(href="#").btn
          span.btn__text Сравнить курсы
          span.btn__icon-wrapper
            +icon("button-icon", 18, 18)
      .hero__image-wrapper
        +picture("content/hero", "excited-man", "png", 502, 590, "Радующийся мужчина в оранжевом свитере")
      .hero__work-card
        +work-card(workCard)


