.arrows {
  display: flex;
  justify-content: space-between;
  gap: 34px;

  &__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $color-white-smoke;
    background-color: $color-magnolia;

    &::after {
      content: "";
      display: block;
      width: 7px;
      height: 12px;
      mask-image: url("../../img/svg/arrow-left.svg");
      background-color: $color-night-rider;
      mask-size: 7px 12px;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }

  &__button--next::after {
    transform: rotate(180deg);
  }
}
