.btn {
  position: relative;
  display: flex;
  width: size(306px);
  justify-content: space-between;
  align-items: center;
  gap: size(25px);
  padding: size(16px) size(46px) size(16px) size(60px);

  font-size: size(16px);
  line-height: 100%;
  font-weight: 500;
  color: $color-snow;

  background-color: $color-accent-main;
  border: size(1px) solid transparent;
  border-radius: size(20px);
  cursor: pointer;

  transition: opacity $trans-default;

  @include vp-1023 {
    width: 191px;
    font-size: 12px;
  }

  @include vp-767 {
    padding: 8px 17px 8px 18px;
    font-size: 14px;
    border-radius: 12px;
    gap: 13px;
  }

  &__text {
    width: size(130px);

    @include vp-1023 {
      width: 120px;
    }
  }

  &__icon-wrapper {
    display: inline-block;
    width: size(45px);
    height: size(45px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-cornflower-blue;
    border-radius: 50%;

    @include vp-1023 {
      width: 25px;
      height: 25px;
    }

    @include vp-767 {
      width: 29px;
      height: 29px;
    }

    svg {
      display: inline-block;
      width: size(18px);
      height: size(18px);

      @include vp-1023 {
        width: 12px;
        height: 12px;
      }
    }
  }

  &:hover {
    box-shadow: 0 20px 40px -10px rgba(72, 109, 216, 0.6);
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
