.direction-card {
  width: size(414px);
  height: size(425px);
  padding: size(55px) size(10px) size(95px) size(21px);
  background-color: $color-default-white;
  border-radius: size(56px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: size(26px);
  row-gap: size(70px);
  overflow-x: hidden;

  @include vp-1023 {
    row-gap: 20px;
  }

  @include vp-767 {
    width: 280px;
    height: 280px;
    padding: 39px 1px 52px 19px;
    column-gap: 18px;
    row-gap: 44px;
    border-radius: 35px;
    overflow: hidden;
  }

  h3 {
    margin: 0;
    width: 70%;
    font-size: size(25px);
    line-height: 100%;
    font-weight: 500;
    color: $color-night-rider;
    word-wrap: break-word;

    @include vp-1023 {
      font-size: 12px;
    }

    @include vp-767 {
      font-size: 18px;
      color: $color-default-white;
    }
  }

  &__icon-wrapper {
    width: size(64px);
    height: size(55px);

    @include vp-767 {
      width: 37px;
      height: 37px;
    }

    svg {
      width: size(64px);
      height: size(55px);

      @include vp-767 {
        width: 37px;
        height: 37px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    mask-image: $gray-to-bottom;
    height: size(146px);

    display: flex;
    flex-wrap: wrap;
    row-gap: size(3px);
    column-gap: size(19px);

    @include vp-767 {
      height: fit-content;
      row-gap: 0;
      column-gap: 7px;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: size(19px);

    @include vp-767 {
      gap: 7px;
    }

    svg {
      width: size(16px);
      height: size(16px);
      color: $color-dim-gray-2;

      @include vp-767 {
        width: 10px;
        height: 10px;
        color: $color-default-white;
      }
    }

    p {
      margin: 0;
      font-size: size(17px);
      line-height: 160%;
      color: $color-dim-gray;

      @include vp-1023 {
        font-size: 8px;
      }

      @include vp-767 {
        color: $color-default-white;
        font-size: 14px;
        line-height: 157%;
      }
    }
  }

  &__item:nth-child(even) svg {
    display: none;
  }

  // состояние карточки
  &:hover {

    h3,
    p {
      color: $color-default-white;
    }

    .direction-card__item svg {
      color: $color-default-white;
    }
  }
}
