.directions {
  padding: size(3px) 0 size(292px);

  @include vp-767 {
    padding: 3px 0 75px;
  }

  &__main-wrapper {
    @include vp-767 {
      position: relative; // для кнопок переключения слайдов
      padding: 0;
    }

    h2 {
      margin: 0;
      margin-bottom: size(65px);

      font-size: size(40px);
      line-height: 100%;
      font-weight: 700;
      color: $color-night-rider-2;

      @include vp-1023 {
        padding: 0 10%;
        font-size: 20px;
      }

      @include vp-767 {
        padding: 0 6.25%;
        margin-bottom: 30px;
        font-size: 21px;
        line-height: 100%;
      }
    }
  }

  &__swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: size(14px);
    row-gap: size(47px);

    @include vp-767 {
      display: flex;
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  &__card {
    @include vp-767 {
      width: 280px;
    }
  }

  &__card.swiper-slide-active .direction-card {
    margin-bottom: 30px;
  }

  &__swiper-navigation {
    display: none;

    @include vp-767 {
      display: flex;
      position: absolute;
      bottom: -22px;
      left: 50%;
      width: 135px;
    }
  }

  &__swiper-navigation .swiper-button-next {
    right: 50%;
  }

  &__swiper-navigation .swiper-button-prev {
    left: -50%;
  }
}
