.footer {
  padding: size(70px) 0 size(298px);
  background-color: $color-nero;
  color: $color-snow;

  &__main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: size(98px);

    @include vp-767 {
      padding: 0;
    }
  }

  // лого + права
  &__site-info-wrapper {
    width: size(219px);

    @include vp-767 {
      width: 100%;
      padding: 0 6.25%;
    }
  }

  &__logo-wrapper {
    margin-bottom: size(47px);
    width: size(125px);
    height: size(41px);

    @include vp-767 {
      width: 83px;
      height: 27px;
    }

    img {
      width: size(125px);
      height: size(41px);
      object-fit: cover;

      @include vp-767 {
        width: 83px;
        height: 27px;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__rights {
    color: $color-dim-gray;
    font-size: size(20px);
    line-height: size(24px);
    font-weight: 500;

    @include vp-767 {
      font-size: 16px;
      line-height: 160%;
    }
  }

  // навигация
  &__nav-wrapper {
    @include vp-767 {
      width: 100%;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 0.7px;
        background-color: $color-matterhorn;
      }
    }
  }

  &__nav {
    @include vp-767 {
      padding: 0 6.25%;
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: size(95px);
  }

  &__nav-item {
    @include vp-767 {
      display: none;
    }
  }

  &__nav-item[data-id="categories"] {
    @include vp-767 {
      display: block;
    }
  }

  &__nav-title {
    color: $color-snow;
    font-size: size(20px);
    line-height: size(24px);
    font-weight: 500;

    @include vp-1023 {
      font-size: 11px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 120%;
    }
  }

  &__nav-sublist {
    margin: 0;
    padding: 0;
    list-style-type: none;

    margin-top: size(53px);
  }

  &__nav-sublist-item {
    margin-bottom: size(24px);

    @include vp-767 {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav-sublist-link {
    color: $color-dim-gray;
    font-size: size(16px);
    line-height: size(24px);

    @include vp-1023 {
      font-size: 8px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 160%;
    }

    &:hover {
      opacity: 0.8;
    }
  }

}
