.header {
  padding: size(42px) 0 size(49px);
  background-color: $color-default-white;

  @include vp-1023 {
    padding: 23px 0;
    border-bottom: 0.7px solid $color-whisper;

    &.is-open {
      background-color: $color-magnolia;
    }
  }

  @include vp-767 {
    padding: 13px 0 21px;
  }

  &__main-wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: size(37px);
  }

  &__header-wrapper {
    width: 100%;
    padding: 0 size(321px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: size(91px);

    @include vp-1023 {
      padding: 0 10%;
      justify-content: space-between;
    }

    @include vp-767 {
      padding: 0 6.25%;
    }
  }

  &__logo {
    color: $color-default-white;

    &:hover a {
      opacity: 0.8;
    }
  }

  &__logo-desktop {
    width: 118px;
    height: 38;

    @include vp-1023 {
      display: none;
    }

    img {
      width: 118px;
      height: 38px;
      object-fit: cover;
    }
  }

  &__logo-mobile {
    width: 23px;
    height: 27;
    display: none;

    @include vp-1023 {
      display: block;
    }

    img {
      width: 23px;
      height: 27px;
      object-fit: cover;
    }
  }

  &__menu {
    position: relative;
    width: 100%;
    padding: 0 size(321px);
    padding-top: size(50px);
    border-top: size(0.7px) solid $color-whisper;

    @include vp-1023 {
      display: none;
    }
  }

  &__menu.is-open {
    @include vp-1023 {
      display: block;
      position: absolute;
      top: 73px;
      left: 0;
      padding: 0;
      width: 100%;
      background-color: $color-magnolia;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      z-index: 5;
    }

    @include vp-767 {
      top: 60px;
    }
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 97px;

    @include vp-1023 {
      flex-direction: column;
      padding-top: 0;
      padding: 26px 0 48px;
      border-top: 0.7px solid $color-whisper;
    }
  }

  &__menu-item {
    position: relative;
    padding-right: size(35px);

    @include vp-1023 {
      padding: 23px 10%;
      border-bottom: 0.7px solid $color-whisper;
    }

    @include vp-767 {
      padding: 23px 6.25%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: size(9px);
      right: 0;
      width: size(10px);
      height: size(10px);
      mask-image: url("./../../img/svg/triangle-down.svg");
      mask-size: size(10px) size(10px);
      background-color: $color-silver;

      @include vp-1023 {
        top: 28px;
        right: 10%;
        width: 8px;
        height: 8px;
        mask-size: 8px 8px;
      }

      @include vp-767 {
        right: 6.25%;
      }
    }
  }

  &__menu-item.is-open,
  &__menu-item:hover {
    &::after {
      transform: rotate(180deg);
      background-color: $color-accent-main;
    }
  }

  &__menu-item.is-open &__menu-link,
  &__menu-item:hover &__menu-link {
    color: $color-accent-main;
    font-weight: 600;
  }

  &__menu-link {
    color: $color-silver;
    font-weight: 500;
    line-height: 100%;

    @include vp-1023 {
      font-size: 14px;
    }
  }

  &__menu-content-list.is-open,
  &__menu-item:hover .header__menu-content-list {
    display: block;
    position: absolute;
    left: size(-15px);
    z-index: 10;

    margin: 0;
    padding: 0;
    list-style-type: none;

    width: size(210px);
    padding: size(15px) size(20px) size(22px);
    background-color: $color-default-white;
    border-bottom-left-radius: size(30px);
    border-bottom-right-radius: size(30px);

    @include vp-1023 {
      width: 100%;
      padding: 15px 0 22px;
      background-color: transparent;
      position: static;
      padding-bottom: 0;
    }
  }

  &__menu-content-list {
    display: none;
  }

  &__menu-content-item {
    margin-bottom: size(15px);

    @include vp-1023 {
      margin-bottom: 15px;
    }
  }

  &__menu-content-link {
    font-size: size(10px);
    line-height: size(14.6px);
    font-weight: 400;
    color: $color-default-black;

    &:hover {
      opacity: 0.8;
    }

    @include vp-1023 {
      font-size: 10px;
      line-height: 146%;
    }
  }
}
