.header {
  padding: 42px 0 49px;
  background-color: $color-default-white;

  @include vp-767 {
    padding: 13px 0 21px;
    border-bottom: size(0.7px) solid $color-whisper;

    &.is-open {
      background-color: $color-magnolia;
    }
  }

  &__main-wrapper {
    // width: 66.5%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 22%;
    row-gap: size(37px);

    @include vp-767 {
      // width: 87.5%;
      justify-content: space-between;
    }
  }

  &__logo {
    color: $color-default-white;

    &:hover a {
      opacity: 0.8;
    }
  }

  &__menu {
    position: relative;
    width: 98.4%;

    @include vp-767 {
      display: none;
    }
  }

  &__menu.is-open {
    @include vp-767 {
      display: block;
      position: absolute;
      top: size(60px);
      left: 0;
      width: 100%;
      background-color: $color-magnolia;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-top: size(0.7px) solid $color-whisper;

    @include vp-767 {
      flex-direction: column;
      padding-top: 0;
      padding: 26px 0 48px;
    }
  }

  &__menu-item {
    position: relative;
    padding-right: 35px;
    // transition: all 0.3s;

    @include vp-767 {
      padding: 23px 20px;
      border-bottom: size(0.7px) solid $color-whisper;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 9px;
      right: 0;
      width: 10px;
      height: 10px;
      mask-image: url("./../../img/svg/triangle-down.svg");
      mask-size: 10px 10px;
      background-color: $color-silver;

      @include vp-767 {
        top: 28px;
        right: 20px;
        width: 8px;
        height: 8px;
        mask-size: 8px 8px;
      }
    }
  }

  &__menu-item.is-open,
  &__menu-item:hover {
    &::after {
      transform: rotate(180deg);
      background-color: $color-accent-main;
    }
  }

  &__menu-item.is-open &__menu-link,
  &__menu-item:hover &__menu-link {
    color: $color-accent-main;
    font-weight: 600;
  }

  &__menu-link {
    color: $color-silver;
    font-weight: 500;
    line-height: 100%;

    @include vp-767 {
      // font-family: GILROY;
      font-size: size(14px);
    }
  }

  &__menu-content-list {
    display: none;
  }

  &__menu-content-list.is-open,
  &__menu-item:hover .header__menu-content-list {
    display: block;
    position: absolute;
    z-index: 10;

    margin: 0;
    padding: 0;
    list-style-type: none;

    padding: 15px 0 22px;
    background-color: inherit;

    @include vp-767 {
      position: static;
      padding-bottom: 0;
    }
  }

  &__menu-content-item {
    margin-bottom: size(15px);
  }

  &__menu-content-link {
    font-size: size(10px);
    line-height: size(14.6px);
    font-weight: 400;
    color: $color-default-black;
  }
}
