.hero {
  padding: size(20px) 0 size(300px);

  @include vp-767 {
    padding: 55px 0 120px;
  }

  &__main-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text-wrapper {
    margin-top: size(139px);
    width: size(690px);

    @include vp-1023 {
      width: 47%;
    }

    @include vp-767 {
      margin-top: 0;
      width: auto;
    }

    h1 {
      margin: 0;
      font-size: size(50px);
      line-height: 120%;
      font-weight: 800;
      color: $color-seal-brown;
      margin-bottom: size(35px);

      @include vp-1023 {
        font-size: 23px;
      }

      @include vp-767 {
        width: auto;
        font-size: 28px;
        line-height: 121%;
        margin-bottom: 33px;
      }
    }

    p {
      margin: 0;
      width: size(463px);
      font-size: size(16px);
      line-height: 143%;
      font-weight: 500;
      color: $color-nobel;
      margin-bottom: size(47px);

      @include vp-1023 {
        font-size: 12px;
        width: 100%;
      }

      @include vp-767 {
        width: 93%;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 25px;
      }
    }
  }

  &__image-wrapper {
    margin-right: size(43px);
    width: size(502px);
    height: size(590px);

    @include vp-1023 {
      width: 302px;
      height: 390px;
    }

    img {
      width: size(502px);
      height: size(590px);
      object-fit: contain;

      @include vp-1023 {
        width: 302px;
        height: 390px;
      }
    }

    @include vp-767 {
      display: none;
    }
  }

  &__work-card {
    position: absolute;
    top: size(495px);
    right: size(392px);

    @include vp-1023 {
      top: 270px;
      right: 10%;
    }

    @include vp-767 {
      display: none;
    }
  }
}
