.main-nav {

  width: 40.4%;

  &__wrapper {}

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13%;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-black;
    font-weight: 500;

    &.is-active {
      color: $color-accent-main;
      font-weight: 600;
    }
  }

  &__toggle {
    display: none;
  }
}
