.overlay {
  position: relative;

  &::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; // 100 vw
  height: 1140px;
  background-image: url("../../img/svg/background-gradient.svg");
  // background-image: radial-gradient(circle, #ffffff 0%, #95BFFF 69%, #789EFF 100%, #ffffff 0%);
  background-position: bottom;
  // background-size: size(3023px) size(1426px);
  background-size: 3023px 1426px;
  z-index: -5;
  }
}
