.promo {
  padding: 0 0 size(119px);

  @include vp-767 {
    padding: 80px 0 141px;
  }

  &__promo-wrapper {
    padding: size(81px) size(108px) size(83px) size(88px);
    border-radius: size(72px);
    background-color: $color-default-white;
    box-shadow: 0 4px 20px 0 rgba(134, 134, 134, 0.01);

    @include vp-767 {
      padding: 0;

      border: none;
      background-color: transparent;
      box-shadow: none;
    }

    h2 {
      margin: size(6px) 0 size(15px) size(54px);
      width: 92%;

      font-size: size(40px);
      line-height: 120%;
      font-weight: 700;
      color: $color-night-rider-2;
      text-align: center;

      @include vp-1023 {
        font-size: 22px;
      }

      @include vp-767 {
        margin: 0;
        margin-bottom: 25px;

        font-size: 21px;
        line-height: 115%;
        text-align: start;
      }
    }
  }

  // swiper
  &__content {
    display: grid;
    grid-template-columns: size(424px) size(630px);
    column-gap: size(28px);

    @include vp-1023 {
      column-gap: 60px;
    }
  }

  // swiper-wrapper
  &__slide {
    @include vp-767 {
      padding-top: 85px;
    }
  }

  &__slide-wrapper {
    width: size(396px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: size(20px);

    @include vp-767 {
      position: relative;
      padding: 0 20px 39px;
      margin: 0 auto;
      width: 280px;
      height: 439px;
      gap: 0;

      border-radius: 34px;
      border: 1px solid $color-whisper-2;
      box-shadow: 0 4px 20px 0 rgba(134, 134, 134, 0.06);
      background-color: $color-magnolia;
    }
  }

  &__slide[data-slide-active="slide-not-active"] {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &__image-wrapper {
    width: size(425px);
    height: size(425px);
    margin-left: size(-34px);
    margin-top: size(-20px);

    @include vp-767 {
      position: absolute;
      top: -90px;
      left: 0;
      margin: 0;
      width: 280px;
      height: 280px;
    }

    img {
      width: size(425px);
      height: size(425px);
      object-fit: cover;

      @include vp-767 {
        width: 280px;
        height: 280px;
      }
    }
  }

  &__description-wrapper {
    width: size(338px);

    @include vp-1023 {
      width: 100%;
    }

    @include vp-767 {
      margin-top: auto;
      width: 100%;
      height: 168px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    h3 {
      margin-bottom: size(21px);
      font-size: size(30px);
      line-height: 115%;
      font-weight: 800;
      color: $color-accent-main;

      @include vp-1023 {
        font-size: 16px;
        line-height: 100%;
      }

      @include vp-767 {
        margin: 0;
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 18px;
      }
    }

    p {
      color: $color-black-russian;
      font-size: size(16px);
      line-height: size(25.6px);

      @include vp-1023 {
        font-size: 10px;
        line-height: 100%;
      }

      @include vp-767 {
        margin: 0;
        font-size: 14px;
        line-height: 22.4px;
      }
    }
  }

  // кнопки переключения на десктопе
  &__content-buttons-wrapper {
    align-self: flex-end;

    @include vp-1023 {
      width: 113%;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__content-button {
    position: relative;
    padding: size(24px) size(27px);
    margin-bottom: size(47px);
    border-radius: size(30px);
    background-color: $color-snow;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: size(23px);
    box-shadow: 0 3px 31px 0 rgba(112, 144, 176, 0.02);
    cursor: pointer;

    &:last-child {
      margin-bottom: size(12px);
    }

    &:hover {
      background-color: $color-solitude;
    }
  }

  &__content-button[data-active="is-active"] {
    background-color: $color-accent-main;
    pointer-events: none;
  }

  &__content-button[data-active="is-active"] .promo__text-wrapper {
    h4 {
      color: $color-default-white;
    }

    p {
      color: $color-perano;
    }
  }

  &__icon-wrapper {
    position: relative;
    width: size(60px);
    height: size(60px);
    background-color: $color-magnolia;
    border: size(1px) solid $color-white-smoke;
    border-radius: size(20px);

    @include vp-1023 {
      width: 30px;
      height: 30px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: size(25px);
      height: size(25px);
      color: $color-accent-main;

      @include vp-1023 {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__content-button[data-active="is-active"] .promo__icon-wrapper {
    background-color: $color-royal-blue;
    border-color: $color-royal-blue;

    svg {
      color: $color-default-white;
    }
  }

  &__text-wrapper {
    width: 80%;

    h4 {
      margin: 0;
      margin-bottom: 4px;
      font-size: size(25px);
      line-height: 160%;
      font-weight: 400;
      color: $color-seal-brown;

      @include vp-1023 {
        font-size: 15px;
        line-height: 100%;
        margin-bottom: 10px;
      }
    }

    p {
      margin: 0;
      font-size: size(16px);
      line-height: 160%;
      color: $color-dim-gray;

      @include vp-1023 {
        font-size: 10px;
        line-height: 100%;
      }
    }
  }

  // кнопки свайпера
  &__swiper-navigation {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &__swiper-navigation .swiper-button-next {
    right: 29%;
  }

  &__swiper-navigation .swiper-button-prev {
    left: 29%;
  }

  &__button--prev,
  &__button--next {
    top: 96%;
  }
}
