.rate {
  width: size(79px);
  height: size(14px);
  display: flex;
  align-items: center;
  gap: size(3px);

  &__star {}

  &__star--active::before {
    content: "";
    display: block;
    width: size(14px);
    height: size(14px);
    background-color: #fecd1e;
    mask-image: url(../../img/svg/star.svg);
    mask-size: size(14px) size(14px);
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
