.rate {
  width: size(79px);
  height: size(14px);
  display: flex;
  align-items: center;
  gap: size(3px);

  &__star {
    display: block;
    width: size(14px);
    height: size(14px);

    @include vp-1023 {
      width: 10px;
      height: 10px;
    }

    svg {
      width: size(14px);
      height: size(14px);

      @include vp-1023 {
        width: 10px;
        height: 10px;
      }
    }
  }
}
