.work-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: size(15px);

  padding: size(29px) size(28px) size(6px) size(15px); // 28 28 15 16
  width: size(488px);

  background-color: $color-magnolia;
  box-shadow: 0 3px 37px 0 rgba(0, 0, 0, 0.06);
  border: size(0.74px) solid $color-gainsboro;
  border-radius: size(18.66px);

  @include vp-1023 {
    width: 320px;
    padding: 14px 10px;
    gap: 15px;
  }

  &__title-wrapper {
    width: size(287px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    column-gap: size(13px);
    row-gap: size(5px);

    @include vp-1023 {
      width: 50%;
    }

    h2 {
      margin: 0;
      width: size(152px);

      font-size: size(20px);
      line-height: 100%;
      font-weight: 600;
      color: $color-black;

      @include vp-1023 {
        width: 122px;
        font-size: 16px;
      }
    }

    p {
      grid-column: 1 / 3;
      margin: 0;
      color: $color-dim-gray;
      font-size: size(15px);
      line-height: 150%;

      @include vp-1023 {
        font-size: 8px;
      }
    }
  }

  &__rate {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    margin-bottom: size(6px);

    @include vp-1023 {
      margin-bottom: 0;
    }
  }

  &__stats-wrapper {
    width: size(134px);
    margin-top: size(5px);

    @include vp-1023 {
      width: 40%;
    }

    p {
      margin: 0;
      margin-bottom: size(4px);

      font-size: size(15px);
      line-height: 100%;
      font-weight: 600;
      text-align: end;

      @include vp-1023 {
        font-size: 12px;
      }
    }
  }

  &__salary {
    color: $color-black;
  }

  &__offers {
    color: rgba(0, 0, 0, 0.45);
  }

  &__popularity-item {
    display: flex;
    align-items: center;
    column-gap: size(18px);
    margin-bottom: size(8px);

    @include vp-1023 {
      margin-bottom: 5px;
    }
  }

  &__logo-wrapper {
    width: size(24px);
    height: size(24px);

    @include vp-1023 {
      width: 18px;
      height: 18px;
    }

    img {
      width: size(24px);
      height: size(24px);
      object-fit: cover;

      @include vp-1023 {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__platform-rate {
    position: relative;
    height: size(18px);
    border-radius: size(5px);

    @include vp-1023 {
      height: 12px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: size(18px);
      border-top-left-radius: size(5px);
      border-bottom-left-radius: size(5px);

      @include vp-1023 {
        height: 12px;
      }
    }
  }

  &__platform-rate[data-platform="skillbox"] {
    width: size(186px);

    @include vp-1023 {
      width: 150px;
    }
  }

  &__platform-rate[data-platform="skillfactory"] {
    width: size(273px);

    @include vp-1023 {
      width: 195px;
    }
  }

  &__platform-rate[data-platform="geekbrains"] {
    width: size(347px);

    @include vp-1023 {
      width: 250px;
    }
  }

  &__platform-rate[data-platform="netology"] {
    width: size(276px);

    @include vp-1023 {
      width: 200px;
    }
  }

  &__platform-rate[data-platform="skypro"] {
    width: size(302px);

    @include vp-1023 {
      width: 220px;
    }
  }
}
