mixin direction-card(title, items)
  .direction-card
    h2.direction-card__title= title
    ul.direction-card__list
      each item in items
        li.direction-card__item
          p.direction-card__text= item
