mixin direction-card(title, id, items, color)
  .direction-card(data-class="direction-card", data-color=color)
    .direction-card__icon-wrapper
      +icon(id, 55, 55)
    h3(data-title=id)= title
    ul.direction-card__list
      each item in items
        li.direction-card__item
          p= item
