mixin footer(footerMods)
  -
    const footerLinks = [
      {
        name: "Категории",
        id: "categories",
        sublevel: true,
        items: [
          {title: "Дизайн", href: "#"},
          {title: "Программирование", href: "#"},
          {title: "Маркетинг", href: "#"},
          {title: "Менеджмент", href: "#"},
          {title: "Аналитика", href: "#"}
          ]
      },
      {
        name: "Популярные направления",
        id: "directions",
        sublevel: true,
        items: [
          {title: "Веб-разработка", href: "#"},
          {title: "Java-разработка", href: "#"},
          {title: "Phyton-разработка", href: "#"},
          {title: "SMM-разработка", href: "#"},
          {title: "Графический дизайн", href: "#"},
          {title: "Дизайн интерьеров", href: "#"},
          ]
      },
      {
        name: "Общая информация",
        id: "info",
        sublevel: true,
        items: [
          {title: "О проекте", href: "#"},
          {title: "Политика конфиденциальности", href: "#"},
          {title: "Пользовательское соглашение", href: "#"},
          ]
      },
    ]

  footer.footer(class=footerMods)
    .container.footer__main-wrapper
      .footer__site-info-wrapper
        .footer__logo-wrapper
          a.logo-desktop-link(href="#")
            img(src="img/content/footer-logo/footer-logo.svg" width="125" height="41" alt="Логотип FindEdu")
        p.footer__rights
          |© FindEdu 2022.
          br
          |Все права защищены.
      .footer__nav-wrapper
        nav.footer__nav(aria-label="Навигация по категориям сайта")
          ul.footer__nav-list
            each item in footerLinks
              li.footer__nav-item(data-id=item.id)
                p.footer__nav-title= item.name
                if item.sublevel
                  ul.footer__nav-sublist
                    for subitem in item.items
                      li.footer__nav-sublist-item
                        a(href=subitem.href).footer__nav-sublist-link= subitem.title




